* {
  margin: 0;
}

body {
  margin-left: 20px;
  margin-top: 50px;
}

#todoInput {
  margin-bottom: 20px;
}

.wrapperDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  background-color:grey;
  padding: 20px;
  margin-bottom: 20px;
}

.textDiv {
  
  width: 400px;
  margin-bottom: 10px;
}

#data {
    
 
    text-transform: uppercase;
    margin-bottom: 20px;

  }
  
.red{
    color:red;
    opacity: 1;
}

.redHide{
    color:red;
    opacity: 0;
    transition: opacity 1s ease; 
}

.greenHide{
    color: green;
    opacity: 0;
    transition: opacity 1s ease;
   
}
.green{
    color: green;
    opacity: 1;
}
#seting{
    display: block;
    margin-bottom: 20px;
}
#wrapperSetting{
    visibility: hidden;
}